@use 'functions.scss' as f;

@keyframes marker {
	0% {
		background-position: 100% 100%;
		background-size: 100% 1px;
	}

	49% {
		background-position: 100% 100%;
		background-size: 0% 1px;
	}

	50% {
		background-position: 0% 100%;
		background-size: 0% 1px;
	}

	51% {
		background-position: 0% 100%;
		background-size: 0% 1px;
	}

	100% {
		background-position: 0% 100%;
		background-size: 100% 1px;
	}
}

@keyframes out_text {
}
